.container{
    max-width: 1300px;
    margin: 0 auto !important;
    min-height: calc(100vh - 64px);
}
.card{
    width: 240px;
}
.card-meta{
    text-align: center;
}
.null-text{
    text-align: center;
}
.card-modal{
    width: 140px;
}
.divider{
    width: 100%;
    display: flex;
    min-width: 100%;
    margin: 24px 0;
    clear: both;
    color: rgba(0, 0, 0, 0.85);
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}
