.container{
    max-width: 1300px;
    margin: 0 auto !important;
    min-height: calc(100vh - 64px);
}
.card{
    width: 240px;
}
.card-meta{
    text-align: center;
}
.null-text{
    text-align: center;
}
.card-modal{
    width: 140px;
}